.drinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.card {
  border: 1px solid var(--gray-color);
  border-radius: 0.375rem;
  overflow: hidden;
}

.cardBody {
  padding: 1rem;
}

.imageWrapper {
  position: relative;
  height: 150px;
}

.image {
  object-fit: cover;
}

@media (min-width: 768px) {
  .drinks {
    grid-template-columns: repeat(3, 1fr);
  }
}
