.drinks {
  height: 100%;
  overflow-y: auto;
}

.card {
  border: 1px solid var(--gray-color);
  border-radius: 0.375rem;
  overflow: hidden;
}

.card + .card {
  margin-top: 20px;
}

.cardBody {
  padding: 1rem;
}

.imageWrapper {
  position: relative;
  height: 300px;
}

.image {
  object-fit: cover;
}
