.navbar {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
}

.nav {
  margin-left: 1rem;
  display: flex;
  column-gap: 0.5rem;
}
