.wrapper {
    text-align: center;
  }
  
  .wrapper > * {
    margin-bottom: 10px;
  }
  
  .heading {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .image {
    border-radius: 100%;
  }
  
  .badge {
    display: inline-block;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 4px 8px;
    color: #fff;
  }
  